@page
@model DataCollectModel
@{
    ViewData["Title"] = "Input Parameters";
}

<div class="row">
    <div class="col-8">
        <h1>Input Parameters</h1>
        <strong>TODO: Display categorized inputs and ordered by weight!</strong>

        <form asp-page="Result" asp-area="Run" method="post">
            @for (int i = 0; i < Model.SelectedJurisdictions.Count(); i++)
            {
                <input type="hidden" asp-for="@Model.SelectedJurisdictions[i]" />
            }
            <div class="col-md-9">
                @foreach (var g in Model.Groups)
                {
                    <h2>@g.Name @g.Text @g.Weight</h2>
                    <vc:data-collect inputs="@g.Inputs" html-class="border"></vc:data-collect>
                }
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-8 mt-5">
        @if (Model.Errors.Any())
        {
            <p>The following fees will <strong>not</strong> be calculated:</p>
            <ul>
                @foreach (var e in Model.Errors)
                {
                    <li>@e</li>
                }
            </ul>
        }
    </div>
</div>
