@page
@model DataCollectModel
@{
    ViewData["Title"] = "Select Calculation Parameter";
}

<div class="row mt-5">
    <!-- Column 1 -->
    <div class="col-7">
        <h2>Select <small class="text-muted">Calculation Parameters</small></h2>

        <form asp-page="Result" asp-area="Run" method="post">
            <input type="hidden" asp-for="@Model.TargetCurrency" />
            @for (int i = 0; i < Model.SelectedJurisdictions.Count(); i++)
            {
                <input type="hidden" asp-for="@Model.SelectedJurisdictions[i]" />
            }
            <div class="col-md-12">
                @foreach (var g in Model.Groups)
                {
                    @if (g.InputIndexes.Length == 0) continue;
                    <div class="card mb-3">
                        <h5 class="card-header bg-primary text-white"><strong>@g.Text</strong></h5>
                        <div class="card-body">
                            <vc:data-collect inputs="@Model.Inputs" indexes="@g.InputIndexes" html-class="border"></vc:data-collect>
                        </div>
                    </div>
                }

                @if(Model.UncategorizedInputs.Count() > 0)
                {
                    <div class="card mb-3">
                        <h5 class="card-header bg-danger text-white"><strong>Other Inputs</strong> - not associated to a group</h5>
                        <div class="card-body">
                            <vc:data-collect inputs="@Model.Inputs" indexes="@Model.UncategorizedInputs" html-class="border"></vc:data-collect>
                        </div>
                    </div>
                }
                <button type="submit" class="btn btn-primary">Final Step - Calculate Fees</button>
            </div>
        </form>
    </div>
    <!-- Column #2 -->
    <div class="col-5">
        <img src="~/images/businesspeople.jpg" class="img-fluid" />
    </div>
</div>

<div class="row">
    <div class="col-8 mt-5">
        @if (Model.Errors.Any())
        {
            <p>The following fees will <strong>not</strong> be calculated:</p>
            <ul>
                @foreach (var e in Model.Errors)
                {
                    <li>@e</li>
                }
            </ul>
        }
    </div>
</div>
