@page
@model IndexModel
@{
    ViewData["Title"] = "Fee Selection";
}

<h1>Fee <small class="text-muted">Selection</small></h1>

<div class="row">
    <div class="col-lg-12">
        @if (Model.Fees.Any())
        {
            <form method="post">
                <div class="row mb-4">
                    @for (var i = 0; i < Model.SelectedFees.Count(); i++)
                    {
                        <div class="col-md-4 shadow py-2 mb-2 mx-3 bg-white rounded">
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="@Model.SelectedFees[i].Name" title="@Model.SelectedFees[i].Description">@Model.SelectedFees[i].Name</label>
                                <input class="form-check-input" type="checkbox" asp-for="@Model.SelectedFees[i].Checked" title="@Model.SelectedFees[i].Description">
                                <input type="hidden" asp-for="@Model.SelectedFees[i].Checked" value="false">
                                <input type="hidden" asp-for="@Model.SelectedFees[i].Name">
                                <input type="hidden" asp-for="@Model.SelectedFees[i].Id">
                            </div>
                        </div>
                    }
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Calculate Fees</button>
                    </div>
                </div>                
            </form>
            <h6>@Model.Fees.Count() fees displayed.</h6>
        }
        else
        {
            <h6>No fees defined. Please contact the administrator.</h6>
        }
    </div>
</div>