@page "{id}"
@model IndexModel
@{
    ViewData["Title"] = "Official Fee Calculation";
}

<div class="row">
    <div class="col-4">
        <h1>User Input</h1>
        <form asp-page-handler="Result" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="col-md-9">
                @foreach (var v in Model.ParsedVars ?? Enumerable.Empty<DslVariable>())
                {
                    switch (v)
                    {
                        case DslVariableList:
                            var v1 = (DslVariableList)v;
                            <label class="form-label" for="@v1.Name">@v1.Text</label>
                            <select class="form-select form-select-lg mb-3" name="@v1.Name" id="@v1.Name">
                                @foreach (var item in v1.Items)
                                {
                                    if (v1.DefaultSymbol.Equals(item.Symbol))
                                    {
                                        <option selected value="@item.Symbol">@item.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Symbol">@item.Value</option>
                                    }
                                }
                            </select>
                            break;
                        case DslVariableNumber:
                            var v2 = (DslVariableNumber)v;
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="@v2.Name">@v2.Text</label>
                                <input class="form-control" type="number" id="@v2.Name" name="@v2.Name" value="@v2.DefaultValue" min="@v2.MinValue" max="@v2.MaxValue">
                            </div>
                            break;
                        case DslVariableBoolean:
                            var v3 = (DslVariableBoolean)v;
                            <div class="mb-3 form-check">
                                <label class="form-check-label" for="@v3.Name">@v3.Text</label>
                                @if (v3.DefaultValue)
                                {
                                    <input class="form-check-input" type="checkbox" id="@v3.Name" name="@v3.Name" value="true" checked>
                                    <input type="hidden" name="@v3.Name" value="false">
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" id="@v3.Name" name="@v3.Name" value="true">
                                    <input type="hidden" name="@v3.Name" value="false">
                                }
                            </div>
                            break;
                    }
                }
                @if (Model.CalculationPending)
                {
                    <button type="submit" class="btn btn-primary">Compute Result</button>
                }
            </div>
            <div class="col-md-12">
                @if (!Model.CalculationPending)
                {
                    <a asp-area="Run" asp-page="Index">Redo calculation</a>
                    <br />
                    <a asp-area="Jurisdiction" asp-page="Index">Back to jurisdiction list</a>
                }
            </div>
        </form>
    </div>

    <div class="col-8">
        <h1>Calculation Results</h1>
        @if (Model.CalculationPending)
        {
            <div class="col-md-6">
                <p class="text-muted">Pending...</p>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-4">
                    <h4>Total: @((Model.TotalMandatoryAmount + Model.TotalOptionalAmount).ToString("0.00"))</h4>
                </div>
                <div class="col-md-8">
                    <h6>Mandatory Fees: @Model.TotalMandatoryAmount.ToString("0.00") | Optional Fees: @Model.TotalOptionalAmount.ToString("0.00")</h6>
                </div>
            </div>

            @if (Model.CollectedValues != null)
            {
                var i = 1;
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th rowspan="2">Collected Values</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cv in Model.CollectedValues)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@cv.ToString()</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            }

            @if (Model.CalculationSteps != null)
            {
                var i = 1;
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th rowspan="2">Calculation Steps</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var e in Model.CalculationSteps)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@e</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>