@page
@using IPFees.Core;
@using static IPFees.Core.FeeCalculator;
@model ResultModel
@{
    ViewData["Title"] = "Calculation Result";
}

<h1>Calculation Results</h1>

<div class="row">
    <div class="col-lg-12">
        <h3>Official Fees</h3>
        <h3>TODO: Convert currencies into @Model.TargetCurrency!</h3>
        @foreach (var of in @Model.FeeResults.OfficialFees)
        {
            <text>Mandatory: @of.MandatoryAmount</text> <text>Optional: @of.OptionalAmount</text> <text>Currency: @of.Currency</text>
            <text>(@of.Description)</text>
            <br />
        }
        <h3>Partner Fees</h3>
        @foreach (var of in @Model.FeeResults.PartnerFees)
        {
            <text>Mandatory: @of.MandatoryAmount</text> <text>Optional: @of.OptionalAmount</text> <text>Currency: @of.Currency</text>
            <text>(@of.Description)</text>
            <br />
        }
        <h3>Attorney Fees</h3>
        @foreach (var of in @Model.FeeResults.AttorneyFees)
        {
            <text>Mandatory: @of.MandatoryAmount</text> <text>Optional: @of.OptionalAmount</text> <text>Currency: @of.Currency</text>
            <text>(@of.Description)</text>
            <br />
        }
    </div>
    <div class="col-lg-12">
        <h3>Errors</h3>
        @foreach (var er in @Model.FeeResults.Errors)
        {
            <h4>@($"There are {er.Errors.Count()} errors at fee {er.FeeName}")</h4>
            <ul>
            @foreach(var e in er.Errors)
            {
                <li>@e</li>
            }
            </ul>
        }
    </div>
</div>
