@page "{id}"
@model EditModel
@{
    ViewData["Title"] = "Module Category Weight";
}

<h1>Weight <small class="text-muted">@Model.Category</small></h1>

<div class="row">
    <div class="col-lg-4">
        @if (Model.ErrorMessages.Any())
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    @foreach(var em in Model.ErrorMessages)
                    {
                        <text>@em</text><br/>
                    }                    
                </div>
            </div>
        }
        <form method="post">            
            <div class="mb-3">
                <label for="@Model.Category" class="form-label">Category</label>
                <input asp-for="Category" class="form-control" disabled />
            </div>
            <div class="mb-3">
                <label for="@Model.Weight" class="form-label">Weight</label>
                <input asp-for="Weight" value="@Model.Weight" class="form-control" required />
            </div>            
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<partial name="_Symbols" />