@page "{id}"
@model EditGroupModel
@{
    ViewData["Title"] = "Module Group";
}

<h1>Module Group <small class="text-muted">@Model.GroupName</small></h1>

<div class="row">
    <div class="col-lg-4">
        @if (Model.ErrorMessages.Any())
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    @foreach(var em in Model.ErrorMessages)
                    {
                        <text>@em</text><br/>
                    }                    
                </div>
            </div>
        }
        <form method="post">            
            <div class="mb-3">
                <label for="@Model.GroupName" class="form-label">Group</label>
                <input asp-for="GroupName" class="form-control" disabled />
            </div>
            <div class="mb-3">
                <label for="@Model.GroupDescription" class="form-label">Description</label>
                <input asp-for="GroupDescription" value="@Model.GroupDescription" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="@Model.GroupWeight" class="form-label">Weight</label>
                <input asp-for="GroupWeight" value="@Model.GroupWeight" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

