@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IPFees</h1>
    <p>Modern intellectual property fees calculation</p>
</div>

<form method="post">
    <div class="mb-3">
        <label for="@Model.ReferencedModules" class="form-label">Referenced Modules</label>
        @for (var i = 0; i < Model.ReferencedModules.Count(); i++)
        {
            <div class="form-check form-switch">
                <label class="form-check-label" for="@Model.ReferencedModules[i].Name">@Model.ReferencedModules[i].Description</label>
                <input class="form-check-input" type="checkbox" asp-for="@Model.ReferencedModules[i].Checked">
                <input type="hidden" asp-for="@Model.ReferencedModules[i].Checked" value="false">
                <input type="hidden" asp-for="@Model.ReferencedModules[i].Name">
                <input type="hidden" asp-for="@Model.ReferencedModules[i].Id">
            </div>
        }
        <div id="ReferencedModulesHelp" class="form-text">Source code associated to referenced modules is parsed along with the fee source code.</div>
    </div>
    <div class="my-3">
        <textarea asp-for="Code" class="form-control" rows="20"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Execute Code</button>
</form>



@if (Model.ParseErrors != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Errors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.ParseErrors)
            {
                <tr>
                    <td>@e</td>
                </tr>
            }
        </tbody>
    </table>
}