@page
@model ResultModel
@{
    ViewData["Title"] = "Calculation Result";
}

<h1>Result: @Model.TotalAmount</h1>

@if (!string.IsNullOrEmpty(Model.ComputationError))
{
    <div class="alert alert-danger" role="alert">
        @Model.ComputationError
    </div>
}

@if (Model.CollectedVars != null)
{
    <div class="alert alert-secondary" role="alert">
        Collected Variables
    </div>
    var i = 1;
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cv in Model.CollectedVars)
            {
                <tr>
                    <td>@i</td>
                    <td>@cv.Name</td>
                    <td>@cv.ToString()</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}

@if (Model.ComputationSteps != null)
{
    <div class="alert alert-secondary" role="alert">
        Computation Steps
    </div>
    var i = 1;
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.ComputationSteps)
            {
                <tr>
                    <td>@i</td>
                    <td>@e</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}