@page
@model IndexModel
@{
    ViewData["Title"] = "Module List";
}

<h1>Module <small class="text-muted">List</small></h1>

<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-primary" asp-page="./Create" role="button">Create</a>
        @if (Model.Modules.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Module</th>
                        <th scope="col">Description</th>
                        <th scope="col">Last Updated</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var mi in Model.Modules)
                    {
                        <tr>
                            <td>@mi.Name</td>
                            <td>@mi.Description</td>
                            <td>@mi.LastUpdatedOn</td>
                            <td><a asp-page="Edit" asp-route-id="@mi.Name">Edit</a> | <a asp-page="Delete" asp-route-id="@mi.Name">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <h6>@Model.Modules.Count() modules defined.</h6>
        }
        else
        {
            <h6>Modules defined in the system appear here.</h6>
        }
    </div>
</div>