@page
@model CreateModel
@{
    ViewData["Title"] = "Create Jurisdiction";
}

<h1>Create Jurisdiction <small class="text-muted">New</small></h1>

<div class="row">
    <div class="col-lg-12">
        @if (Model.ErrorMessages.Any())
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    @foreach (var em in Model.ErrorMessages)
                    {
                        <text>@em</text>
                        <br />
                    }
                </div>
            </div>
        }
        <form method="post">
            <div class="mb-3 col-md-4">
                <label for="@Model.Category" class="form-label">Category</label>
                <select class="form-select form-select-lg mb-3" asp-for="@Model.Category" asp-items="Model.CategoryItems" required>
                    <option value="">Select category...</option>
                </select>
            </div>
            <div class="mb-3 col-md-4">
                <label for="@Model.AttorneyFeeLevel" class="form-label">Attorney Fee Level</label>
                <select class="form-select form-select-lg mb-3" asp-for="@Model.AttorneyFeeLevel" asp-items="Model.AttorneyFeeLevelItems" required>
                    <option value="">Select fee level...</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="@Model.Name" class="form-label">Name</label>
                <input asp-for="Name" value="@Model.Name" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="@Model.Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="@Model.ReferencedModules" class="form-label">Referenced Modules</label>
                @for (var i = 0; i < Model.ReferencedModules.Count(); i++)
                {
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="@Model.ReferencedModules[i].Name">@Model.ReferencedModules[i].Name (@Model.ReferencedModules[i].Description)</label>
                        <input class="form-check-input" type="checkbox" asp-for="@Model.ReferencedModules[i].Checked">
                        <input type="hidden" asp-for="@Model.ReferencedModules[i].Checked" value="false">
                        <input type="hidden" asp-for="@Model.ReferencedModules[i].Id">
                    </div>
                }
                <div id="ReferencedModulesHelp" class="form-text">Source code associated to referenced modules is parsed along with the jurisdiction source code.</div>
            </div>
            <div class="mb-3">
                <label for="Info.SourceCode" class="form-label">Source Code</label>
                <textarea asp-for="SourceCode" class="form-control" rows="20" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<partial name="_Symbols" />